*.[ao]
*.mo
*.la
*.lo
.deps
.libs
.vs
*.aps
*.user

CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
config.h
build*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


