*.[ao]
*.mo
*.la
*.lo
.deps
.libs

CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
config.h
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

#Own gitignore
build
CLAUDE.md
*.patch
*.sh
compile_commands.json