language:
 - c++
 - java

# Travis is still stuck on Ubuntu 14.04, which has too old crap
before_install:
# GnuTLS 3.x
 - sudo apt-get install -y libgnutls28-dev
# FLTK 1.3.4
 - wget http://fltk.org/pub/fltk/1.3.4/fltk-1.3.4-2-source.tar.gz
 - tar -xvf fltk-1.3.4-2-source.tar.gz
 - pushd fltk-1.3.4-2
 - ./configure --prefix=/usr --enable-shared
 - make -j2
 - sudo make install
 - popd

script:
 - cmake -DCMAKE_BUILD_TYPE=Debug . && make
 - cd java && cmake . && make
